/* 
// Make sure to change the name of the font 
// in the webfont.js loader in index.html
*/

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Heavy.otf');
}

svg {
	font-size: 14px;
}

svg #ground {
	fill: #fff;
	stroke: none;
	stroke-dasharray: none;
}

svg #plotArea {
	fill: none;
	stroke: none;
}

svg .axis line {
	fill: none;
	shape-rendering: crispEdges;
	stroke-dasharray:2,3;
	stroke: #999;
}
svg .axis g.zero line {
	stroke: #999;
	stroke-dasharray: none;
}

g.yAxis g:first-child line{
	stroke-dasharray: none !important;
}

svg #xAxis line {
	stroke: #e6e6e6;

}

svg #xAxis{
	fill: #666666;
}

svg .axis path {
	stroke: none;
	fill: none;
}

svg .axis text {
	font-family: 'Avenir', sans-serif !important;
}

svg .legendItem text {
	font-family: 'Avenir', sans-serif !important;
}

svg text.metaText {
	font-family: 'Avenir', sans-serif !important;
	font-size:  10px;
	text-rendering:   optimizeLegibility;
	fill:  #999999;
}

svg text.barLabel, 
svg text.bargridLabel {
	font-family: 'Avenir', sans-serif !important;
	stroke: none;
	fill: black !important;
}

/*Default styling of series*/

svg path.seriesLine {
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
}

svg .seriesScatter circle {
	stroke:#fff;
	stroke-width":1;
}
	
#titleLine {
	font-family: 'Avenir', sans-serif !important;
	font-size: 24px;
	font-weight: 600;
}